html {
  background-image: url('https://live.staticflickr.com/65535/50513398552_f0ab7a2480_b.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  font-size: 18px;
}

#main {
  width: 40vw;
  min-width: 400px;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(44 58 70 / 92%);
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.479);
  padding: 10px;
}

form {
  margin: auto;
  display: block;
  font-size: 18px;
  margin-left: 5%;
}

#description {
  text-align: center;
  font-style: italic;
}

input {
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  width: 90%;
}

label {
  display: block;
  padding-bottom: 5px;
}

select {
  width: 92%;
  height: 100%;
  font-size: 18px;
  border-radius: 5px;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

textarea {
  width: 90%;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.form-group {
  padding: 5px;
}

button {
  margin-top: 10px;
  font-size: 18px;
}
